<!doctype html>
<html lang='en'>
<head>
<meta charset="utf-8"/>
<link href='rss' rel='alternate' type='application/rss+xml' title='Ineed RSS Feed'/>
<link href='atom' rel='alternate' type='application/atom+xml' title='Ineed Atom Feed'/>
<link rel='icon' type='image/png' href='favicon.png'/>
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="css/ineed.css" type="text/css"/>
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
<script src="/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>INeed Items</title>
<script src="/js/angular.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/angular-moment.min.js"></script>
<script src="js/ineed.js"></script>
</head>

<body>
<div class='container-fluid'>
<div class='main' ng-app='ineedApp' ng-controller='ineedController'>
<div class='row ineed-title'>
<div class='col-sm-6 col-sm-offset-3'>
<span>Needed items by my characters from WoW.</span>
</div> <!-- col -->
</div> <!-- row -->

<div class='row ineed-stats'>
<div class='row ineed-item-count'>
<div class='col-sm-3 col-sm-offset-1'>
{{ (items).length}} items. ({{haveItemCount}} / {{needItemCount}})
</div> <!-- col -->
<div class='col-sm-2'>Data modified {{dataLastModified | amCalendar}}</div>
<div class='col-sm-2'>Data loaded {{dataLoadedAt | amCalendar}}</div> <!-- col -->
</div> <!-- row -->
<div class='row ineed-item-stats'>
<div class='col-xs-3 col-md-2 col-sm-offset-1'>Oldest added item:</div>
<div class='col-xs-2 col-sm-1'>
<a href ng-click="itemFilter={id:oldestAddedItem.itemID}">{{oldestAddedItem.itemID}}</a></div>
<div class='col-xs-4 col-sm-3 col-md-2'>{{oldestAddedItem.date | amCalendar}}</div>
<div class='col-xs-3'>{{oldestAddedItem.who}}</div>
</div> <!-- row -->
<div class='row ineed-item-stats'>
<div class='col-xs-3 col-md-2 col-sm-offset-1'>Oldest updated item:</div>
<div class='col-xs-2 col-sm-1'>
<a href ng-click="itemFilter={id:oldestUpdatedItem.itemID}">{{oldestUpdatedItem.itemID}}</a></div>
<div class='col-xs-4 col-sm-3 col-md-2'>{{oldestUpdatedItem.date | amCalendar}}</div>
<div class='col-xs-3'>{{oldestUpdatedItem.who}}</div>
</div> <!-- row -->
<div class='row ineed-item-stats'>
<div class='col-xs-3 col-md-2 col-sm-offset-1'>Most recently added:</div>
<div class='col-xs-2 col-sm-1'>
<a href ng-click="itemFilter={id:newestAddedItem.itemID}">{{newestAddedItem.itemID}}</a></div>
<div class='col-xs-4 col-sm-3 col-md-2'>{{newestAddedItem.date | amCalendar}}</div>
<div class='col-xs-3'>{{newestAddedItem.who}}</div>
</div> <!-- row -->
<div class='row ineed-item-stats'>
<div class='col-xs-3 col-md-2 col-sm-offset-1'>Most recently updated:</div>
<div class='col-xs-2 col-sm-1'>
<a href ng-click="itemFilter={id:newestUpdatedItem.itemID}">{{newestUpdatedItem.itemID}}</a></div>
<div class='col-xs-4 col-sm-3 col-md-2'>{{newestUpdatedItem.date | amCalendar}}</div>
<div class='col-xs-3'>{{newestUpdatedItem.who}}</div>
</div> <!-- row -->
</div> <!-- row ineed-stats -->

<div class='row ineed-main'>
<div class='row ineed-sort-head'>
<div class='col-xs-11 col-xs-offset-1'>
<ul>
<li><a href ng-click="sortReverse = sortType=='id' ? !sortReverse : false; sortType='id'">ID
	<span ng-show="sortType=='id' && !sortReverse" class="fa fa-caret-up"></span>
	<span ng-show="sortType=='id' && sortReverse" class="fa fa-caret-down"></span>
</a></li>
<li><a href ng-click="sortReverse = sortType=='itemName' ? !sortReverse : false; sortType='itemName'">Description
	<span ng-show="sortType=='itemName' && !sortReverse" class="fa fa-caret-up"></span>
	<span ng-show="sortType=='itemName' && sortReverse" class="fa fa-caret-down"></span>
</a></li>
<li><a href ng-click="sortReverse = sortType === 'oldestAdded' ? !sortReverse : false; sortType = sortReverse ? 'newestAdded' : 'oldestAdded'">Added
	<span ng-show="sortType === 'oldestAdded' && !sortReverse" class="fa fa-caret-up"></span>
	<span ng-show="sortType === 'newestAdded' && sortReverse" class="fa fa-caret-down"></span>
</a></li>
<li><a href ng-click=" sortReverse = sortType === 'oldestUpdated' ? !sortReverse : false;sortType = sortReverse ? 'newestUpdated' : 'oldestUpdated'">Updated
	<span ng-show="sortType === 'oldestUpdated' && !sortReverse" class="fa fa-caret-up"></span>
	<span ng-show="sortType === 'newestUpdated' && sortReverse" class="fa fa-caret-down"></span>
</a></li>
<li ng-show='itemFilter !== null && itemFilter.id'><a href ng-click='itemFilter=""'>Show All</a></li>
<li ng-show='itemFilter === null || !itemFilter.id'><input type='text' ng-model='itemFilter'/></li>
<li>Shown items: {{(items|filter:itemFilter).length}}</li>
<li><select name='displayType' ng-model='displayType'>
	<option value='divs'>Desc List</option>
	<option value='table'>Table</option>
	<option value='right'>Right Side</option>
	<option value='tiles-table'>Tiles-table</option>
	<option value='tiles-bs'>Tiles-Bootstrap</option>
</select></li>
</ul>
</div> <!-- col -->
</div> <!-- ineed-sort-head -->
<div class="row" ng-show="displayType=='tiles-bs'">
<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in items | orderBy:sortType:sortReverse | filter:itemFilter">
<div class="col-xs-12 ineed-itemTile">
<div class="row ineed-itemLinkRow">
<div class="col-xs-12 ineed-itemLink"><a name="{{item.id}}" target="_blank" href="http://www.wowhead.com/item={{item.id}}">{{item.id}} {{item.itemName}}</a></div>
</div> <!-- itemLinkRow -->
<div class="row ineed-playerInfoRow" ng-repeat="player in item.players | orderBy:'addedTS'">
<div class="col-md-2 col-xs-3">{{player.has}} / {{player.needs}}</div>
<div class="col-md-6 col-xs-8">{{player.name}} - {{player.realm}}</div>
<div class="col-sm-4 hidden-xs">{{player.addedTS*1000 | amCalendar}}</div>
<!--
<div class="hidden-xs">hidden-xs</div>
<div class="hidden-sm">hidden-sm</div>
<div class="hidden-md">hidden-md</div>
<div class="hidden-lg">hidden-lg</div>
-->

</div> <!-- playerInfoRow -->
</div>
</div> <!-- col-xs-4 -->
</div> <!-- tils-bs row -->
<div class="row ineed-itemRow" ng-show="displayType=='tiles-table'">
<div class="col-xs-4 ineed-itemTile" ng-repeat="item in items | orderBy:sortType:sortReverse | filter:itemFilter">
<table width=100%>
<tbody ng-repeat="player in item.players | orderBy:'addedTS'">
<tr class="ineed-itemLinkRow">
<td colspan=6 ng-show="$index == 0"><a name="{{item.id}}" target="_blank" href="http://www.wowhead.com/item={{item.id}}">{{item.id}} {{item.itemName}}</a></td>
</tr>
<tr>
<td/>
<td>{{player.has}}</td>
<td>/</td>
<td>{{player.needs}}</td>
<td>{{player.name}} - {{player.realm}}</td>
<td>{{player.addedTS*1000 | amCalendar}}</td>
</tr>
</tbody>
</table>
</div> <!-- col-12 -->
</div> <!-- tiles row -->
<div class='row ineed-itemRow' ng-show='displayType=="right"' ng-repeat='item in items | orderBy:sortType:sortReverse | filter:itemFilter'>
{{$iindex = $index; ""}}
<div class='col-xs-12'>
<div class='row ineed-itemLinkRow ineed-item-{{$iindex % 2 ? "odd" : "even"}}' ng-repeat='player in item.players | orderBy:"addedTS"'>
<div class='col-xs-2 col-sm-1 colineed-itemLink' ng-show='$index == 0'><a name='{{item.id}}' target='_blank' href='http://www.wowhead.com/item={{item.id}}'>{{item.id}}</a></div>
<div class='col-xs-2 col-sm-1' ng-show='$index != 0'></div>
<div class='col-xs-2'>{{player.name}} - {{player.realm}}</div>
<div class='col-xs-1'>{{player.has}} / {{player.needs}}</div>
<div class='col-xs-2 hidden-xs'>{{player.addedTS*1000 | amCalendar}}</div>
<div class='col-xs-3' ng-show='$index == 0'>{{item.itemName}}</div>

</div> <!-- itemLinkRow -->
</div> <!-- col-12 -->
</div> <!-- right-row -->
<div ng-show="displayType=='table'" class='row ineed-itemTableRow'>
<div class='col-xs-12'>
<table>
<thead>
<tr><th>Item</th><th>Player</th><th>Has</th><th>/</th><th>Of</th><th>Added</th></tr>
</thead>
<tbody ng-repeat="item in items | orderBy:sortType:sortReverse | filter:itemFilter" class="animate-repeat">
<tr>
<td colspan=6><a name='{{item.id}}' target='_blank' href='http://www.wowhead.com/item={{item.id}}'>{{item.id}} ({{item.itemName}})</a></td>
<tr ng-repeat='player in item.players | orderBy:"addedTS"' class='{{player.faction}}-color'>
<td/><td>{{player.name}}-{{player.realm}}</td>
<td>{{player.has}}</td>
<td>/</td>
<td>{{player.needs}}</td>
<td>{{player.addedTS*1000 | amCalendar}}</td>
</tr>
<tr ng-show='(item.players).length >1'>
<td colspan=2 />
<td>{{item.players | sumOfValue:'has'}}</td>
<td>/</td>
<td>{{item.players | sumOfValue:'needs'}}</td>
</tr>
</tr>
</tbody>
</table>
</div> <!-- col -->
</div> <!-- ineed-itemTableRow -->
<div class='row ineed-itemRow' ng-show="displayType=='divs'" ng-repeat="item in items | orderBy:sortType:sortReverse | filter:itemFilter">
<div class='col-xs-12'>
<div class='row ineed-itemLinkRow'>
<div class='col-xs-5 col-md-3 ineed-itemLink'><a name='{{item.id}}' target="_blank" href="http://www.wowhead.com/item={{item.id}}">{{item.id}} ({{item.itemName}})</a></div>
<div class='col-xs-3 col-md-2 col-md-offset-1'>Added:</div>
<div class='col-xs-3'>Updated:</div>
</div> <!-- row ineed-itemLinkRow -->
<div class='row ineed-playerInfoRow' ng-repeat="player in item.players | orderBy:'addedTS'">
<div class='col-xs-3 col-md-2 col-md-offset-1'>{{player.name}}-{{player.realm}}</div>
<div class='col-xs-2 col-md-1'>({{player.has}} / {{player.needs}})</div>
<div class='col-xs-3 col-md-2'>{{player.addedTS*1000 | amCalendar}}</div>
<div class='col-xs-3'>{{player.updatedTS*1000 | amCalendar}}</div>
</div> <!-- row playerInfoRow -->
<div class='row ineed-itemSum' ng-show='(item.players).length > 1'>
<div class='col-xs-2 col-md-1 col-xs-offset-3 col-md-offset-3'>({{item.players | sumOfValue:'has'}} / {{item.players | sumOfValue:'needs'}})</div>
</div> <!-- row ineed-itemSum -->
</div> <!-- col -->
</div> <!-- row ineed-itemRow -->
</div> <!-- row ineed-main -->
</div> <!-- main -->
</div> <!-- container -->
</body>
</html>
